@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1>VB.NET Example with usage of JQuery.</h1>
    <p>Note this is an example that will have Razor pages. This is what the expectations are</p>
    <p>- Please create an HTML web site that will support basic CRUD operations to manage the Customers table.  Add support for viewing, adding, editing, and deleting Customers.</p>
    <p>- The web site should interface, using JQuery / AJAX calls, with a VB.NET ASP.NET WebAPI service to support pulling and updating information from the Customers table.</p>
</div>
